.card {
   background-color: rgb(255, 255, 255);
   border: 2px solid rgb(82, 82, 82);
   border-radius: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   object-fit: cover;
   padding: 1rem;
   width: 30rem;
   height: 25rem;


   &__container {
      display: flex;
      justify-content: center;
      gap: 4rem;
   }

   &-score {
      display: flex;
      align-items: center;
      padding: 3rem 0 0 0 ;
      font-size: 2rem;
   }

   &__img {
      object-fit: cover;
      width: 100%;
   }
}

.card:hover{
   background-color: rgb(199, 199, 199);
   cursor: pointer;
}

.verdict{
   font-size: 7rem;
   padding: 1rem 0 3rem 0;
}

.score__container{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.left-verdict {
   position: absolute;
   top: 0%;
   left: 22%;
   font-size: 6rem;
}

.right-verdict {
   @extend .left-verdict;
   top: 0%;
   left: 57%;

}

.card-wrong {
   @extend .card;
   border: 4px solid red;
}

.card-right {
   @extend .card;
   border: 4px solid rgb(13, 207, 13);
}

.button {
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   padding: 25px 30px;
   background-color: #050801;
   color: #4CAF50;
   font-weight: bold;
   border: none;
   font-size:1.2rem;
   border-radius: 5px;
   letter-spacing: 3px;
   overflow: hidden;
   transition: 0.5s;
   cursor: pointer;
 }
 .button:hover{
     background: #4CAF50;
     color: #050801;
     box-shadow: 0 0 5px #4CAF50,
                 0 0 25px #4CAF50,
                 0 0 50px #4CAF50,
                 0 0 200px #4CAF50;
      -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
 }

 .button-red{
@extend .button;
color: #ed3838;
 }

 .button-red:hover{
   @extend .button;
   background: #ed3838;
   box-shadow: 0 0 5px #ed3838,
               0 0 25px #ed3838,
               0 0 50px #ed3838,
               0 0 200px #ed3838;
    }