.card {
 background-color: rgb(255, 255, 255);
 border:2px solid rgb(82, 82, 82);
 border-radius: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 object-fit:cover;
 padding: 1rem;
 width: 20rem;
 height: 25rem;


 &__container{
     display: flex;
     justify-content: center;
    gap: 4rem;
 }

 &-score{
    display: flex;
    align-items: center;
 }

 &__img{
    object-fit:cover;
    width: 100%;
 }


}

.left-verdict{
position: absolute;
top: 0%;
left: 22%;
font-size: 6rem;
}

.right-verdict{
@extend .left-verdict;
top: 0%;
left: 57%;

}

.card-wrong{
@extend .card;
border:4px solid red;
}

.card-right{
@extend .card;
border:4px solid rgb(13, 207, 13);
}

.button{
   &__container{
      display: flex;
      justify-content: center;
   }
   width: 10rem;
   padding: 1rem;
   font-size: 2rem;
}
