.button {
    &__container{
        display: flex;
        justify-content: flex-end;
    }

    margin: 2rem;
    padding: 2rem;
    width: 10rem;
    border-radius: 0.25rem;
    border: 1px solid black;
}